AATF[[:space:]]Flyer.pdf filter=lfs diff=lfs merge=lfs -text
EnrollmentForm.pdf filter=lfs diff=lfs merge=lfs -text
ScholarshipApplication.pdf filter=lfs diff=lfs merge=lfs -text
ScholarshipRequirements.pdf filter=lfs diff=lfs merge=lfs -text
donationform.pdf filter=lfs diff=lfs merge=lfs -text
AATF[[:space:]]Flyer.jpg filter=lfs diff=lfs merge=lfs -text
PosterPolaroids.jpg filter=lfs diff=lfs merge=lfs -text
images/aatflogo.jpg filter=lfs diff=lfs merge=lfs -text
images/bg_grad.jpg filter=lfs diff=lfs merge=lfs -text
images/bg_nav.jpg filter=lfs diff=lfs merge=lfs -text
images/image001.jpg filter=lfs diff=lfs merge=lfs -text
images/image003.jpg filter=lfs diff=lfs merge=lfs -text
images/sponsorslist.jpg filter=lfs diff=lfs merge=lfs -text
images/aatflogo-bw-transparent.png filter=lfs diff=lfs merge=lfs -text
images/aatflogo-square.png filter=lfs diff=lfs merge=lfs -text
images/favicon.png filter=lfs diff=lfs merge=lfs -text
images/image005.png filter=lfs diff=lfs merge=lfs -text
images/favicon.ico filter=lfs diff=lfs merge=lfs -text
images/favicon.gif filter=lfs diff=lfs merge=lfs -text
images/gblnav_left.gif filter=lfs diff=lfs merge=lfs -text
images/glblnav_selected.gif filter=lfs diff=lfs merge=lfs -text
images/glbnav_background.gif filter=lfs diff=lfs merge=lfs -text
images/glbnav_right.gif filter=lfs diff=lfs merge=lfs -text
images/image002.gif filter=lfs diff=lfs merge=lfs -text
images/image004.gif filter=lfs diff=lfs merge=lfs -text
images/image006.gif filter=lfs diff=lfs merge=lfs -text
images/tl_curve_white.gif filter=lfs diff=lfs merge=lfs -text
images/tr_curve_white.gif filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005[[:space:]]DANCE[[:space:]]EXAM[[:space:]]CERTIFIEDShrink.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture10.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture11.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture12.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture13.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture14.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture15.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture16.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture17.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture18.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture19.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture2.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture3.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture4.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture5.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture6.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture7.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture8.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2005aatffrdfPicture9.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture10.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture11.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture12.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture13.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture14.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture15.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture16.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture2.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture3.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture4.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture5.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture6.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture7.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture8.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007aatffrdfPicture9.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](1).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](3).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](4).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](5).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](6).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](7).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp[[:space:]](8).jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2007nyp.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture10.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture11.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture12.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture13.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture14.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture15.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture16.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture17.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture18.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture19.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture2.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture20.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture21.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture22.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture23.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture24.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture25.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture26.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture27.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture28.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture29.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture3.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture30.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture31.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture32.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture33.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture34.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture35.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture36.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture37.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture38.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture39.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture4.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture40.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture41.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture5.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture6.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture7.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture8.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2009aatfdfPicture9.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture10.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture11.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture12.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture13.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture14.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture15.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture16.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture17.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture18.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture19.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture2.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture20.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture21.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture22.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture23.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture24.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture3.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture4.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture5.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture6.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture7.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture8.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/2010aatfdfPicture9.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/38.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/AATF[[:space:]]CHILDREN[[:space:]]GROUP-1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/AATFCHILDREN.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/AATF_2_resize.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/BAMBOO[[:space:]]DANCE[[:space:]]PHOTO.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/ChicenItzaGroupPictureShrink.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6877.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6881.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6891.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6910.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6911.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6920.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6925.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6926.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6928.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6929.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6939.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6940.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6964.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6969.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6979.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6986.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6988.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN6993.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN7037.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN7038.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN7039.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/DSCN7040.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/INTERNATIONAL[[:space:]]KIDS.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/ORIGINAL[[:space:]]WORKSHOP[[:space:]]PHOTO.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/Picture[[:space:]]001.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/WORKSHOP[[:space:]]PHOTO.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/_MG_0895d[[:space:]]1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/_MG_0949d[[:space:]]1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/_MG_1007d[[:space:]]1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/_MG_1430d[[:space:]]1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/aatf_1_resize.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture10.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture11.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture12.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture13.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture14.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture15.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture2.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture3.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture4.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture5.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture6.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture7.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture8.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/acdadcPicture9.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/fungyang[[:space:]]dance[[:space:]]001.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/image002resize.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/image244resize.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/korea[[:space:]]dance[[:space:]]024.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/ygPicture1.jpg filter=lfs diff=lfs merge=lfs -text
images/Gallery/ygPicture2.jpg filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2004-GeorgeTam.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2004-MandarinWu.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2005-AnnieSheu.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2005-JoyceKang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2005-JoyceLin.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2006-CarmenHuang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2006-JenniferLee.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2006-KristinaKoh.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2007-ChenLiang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2007-KarenHsu.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2007-TiffanyQuach.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2008-BrianTran.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2008-CarmenHuang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2008-JaniceTrang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2008-JessicaZhang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2009-KarenHsu.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2009-RongFu.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2009-TiffanyQuach.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2010-CherylTrang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2010-JaniceTrang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2010-SukiQuan.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2011-LilianTrang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2011-SarahChen.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2011-ShanelWu.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2012-AnnieChai.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2012-CherylTrang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2012-RachelLin.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2012-StephanieHuynh.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2013-CandyXu.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2013-IrenaHuang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2013-LillianTrang.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2013-SukiQuan.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/2013-TiffanyHuynh.pdf filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/CHRISTINE[[:space:]]LUU[[:space:]]-[[:space:]]Schurr[[:space:]]High[[:space:]]School,[[:space:]]Montebello.PDF filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/JASMINE[[:space:]]LI[[:space:]]-[[:space:]]NORTHVIEW[[:space:]]HIGH[[:space:]]SCHOOL,[[:space:]]W.[[:space:]]COVINA.PDF filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/TARA[[:space:]]TRINH[[:space:]]-[[:space:]]Calabasas[[:space:]]High[[:space:]]School,[[:space:]]Calabasas.PDF filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/TIFFANY[[:space:]]CHUNG[[:space:]]-[[:space:]]GABRIELINO[[:space:]]HIGH[[:space:]]SCHOOL,[[:space:]]SAN[[:space:]]GABRIEL.PDF filter=lfs diff=lfs merge=lfs -text
scholarshipwinners/VICKI[[:space:]]HUANG[[:space:]]-[[:space:]]Alhambra[[:space:]]High[[:space:]]School.PDF filter=lfs diff=lfs merge=lfs -text
music.mp3 filter=lfs diff=lfs merge=lfs -text
